/* кольори:
основний текст #757575
/* активний колір: #2196F3; */
:root {
  /* основний колір тексту */
  --color-primary: #757575;
  /* колір активних посилань і кнопок */
  --color-active: #2196f3;
  /* колір навігації і заголовків */
  --color-title-nav: #212121;

  --color-white: #ffffff;

  /* колір пошти і номера телефону в футері*/
  --color-footer-contacts: rgba(255, 255, 255, 0.6);
  /* колір hover кнопки */
  --color-btn-hover: #188ce8;
  /* фон кнопок портфоліо */
  --bgcolor-portfolio-button: F5F4FA;
}

body {
  color: var(--color-primary);
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
/* прибирання маркерів в списках */
.list {
  list-style: none;
}
/* Header */

/* WebStudio */
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-active);
}

.logo-header {
  color: #000000;
}
/* header-nav */
.nav-list {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link {
  text-decoration: none;
  color: var(--color-title-nav);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-active);
}
/* header-contacts */
.header-contacts {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.contacts-link {
  text-decoration: none;
  color: var(--color_primary);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-active);
}

/* main */
/* hero */
.hero {
  background-color: #2f303a;
  letter-spacing: 0.06em;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-white);
}
.hero-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;

  cursor: pointer;

  background-color: var(--color-active);
  color: var(--color-white);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-btn-hover);
}

/* section Features */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.features-text {
  line-height: 1.7;
}

/* section Servises */
.section-title {
  text-align: center;

  font-size: 36px;
  line-height: 1.17;

  color: var(--color-title-nav);
}
/* section team */
.team-list {
  font-size: 16px;
  line-height: 1.19;
}

.team-item-title {
  font-size: 16px;

  font-weight: 500;

  color: var(--color-title-nav);
}

/* Fotter */
.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: var(--color-white);
}

.footer-text {
  font-style: normal;
  line-height: 1.7;
  color: var(--color-white);
}

.footer-contacts {
  text-decoration: none;
  color: var(--color-footer-contacts);
}

.footer-contacts:hover {
  color: var(--color-active);
}

/* portfolio */
/* кнопки */
.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;

  cursor: pointer;

  background-color: var(--bgcolor-portfolio-button);
  color: var(--color-title-nav);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--color-btn-hover);
  color: var(--color-white);
}
/* галерея */
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--color-title-nav);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.87;

  color: var(--color-primary);
}
